*{
    margin: 0;
    padding: 0;
}
.head{
    color: brown;
    background-color: rgb(241, 238, 238);
    border-top: 5px brown solid;
    border-bottom: 5px brown solid;
    border-radius: 5%;
    text-align: center;
    padding: 3%;
    cursor: pointer;
    margin-bottom: 4%;
}
.subhead{
    color: goldenrod;
    text-align: center;
    padding-bottom: 2%;
    text-decoration: underline;
    cursor: pointer;
}
.check h2{
    color: royalblue;
    text-align: center;
    padding: 2%;
    cursor: pointer;
}
.form1{
    height: 300px;
    width: 600px;
    padding: 2%;
    border: 5px gold solid;
    float: ce;
}
.check label{
    color: rgb(5, 18, 99);
    padding: 2%;
    text-align: justify;
}
.form1 input[type=number]{
    color: gold;
    background-color: beige;
    width: 12%;
}

#l1{
    background-color: beige;
}